tmp/
data/
r/
src/lfads
figures/
plots/
python/notebooks/

*.directory
*.RData
*.RHistory
*.pdf
*.doc
*.docx
*.ipynb
*.mp4
*.aux
*.synctex.gz
*.out
*.log
*.fls
*.fdb_latexmk
*.bbl
*.blg
*.png
*.svg
*.odp
*.toc


